  /* remove the margin and padding default */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* apply to body*/
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }

  /* apply styles to h1 header and create inline */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }

  /* apply color to the brand*/
header a {
  text-decoration: none;
  color: #fce138;
}

  /* move the navigation to the right*/
header nav {
    float: right;
    margin: 7px 0;
  }

  /* move the list from block to inline*/
  header nav ul li {
    display: inline;
  }

  /* move the margin and font */
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  /* style the footer */
  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }

  /* style the footer to left */
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

   /* apply style to div footer */
   footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  /* apply style to privacy policy */
  footer a {
    color: #024e76;
  }

  /* apply style to all sections*/
  section {
    padding: 60px;
  }

  /* hero style start */
  .hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* hero style end */

  /* style the form container */
  .hero-form {
    border: 3px solid #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }